@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Minhas estilizacoes */
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-button-rgb: 23, 132, 21;
  --secondary-button-rgb: 34, 34, 34;
  --accent-rgb: 20, 111, 18;
  --border-rgb: 186, 224, 186;
  --card-rgb: 242, 248, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
