.ListItem {
  font-size: 15px;
  color: #178415;
  border-radius: 3px;
  user-select: none;
  outline: none;
  display: block;
  padding: 4px 10px;
  white-space: nowrap;
}

.ListItem:hover {
  background-color: rgb(23 132 21 / 10%) !important;
}

.ListItem:focus {
  box-shadow: 0 0 0 2px rgb(23 132 21 / 21%);
}