@import '@radix-ui/colors/slate.css';

.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 600px;
}

.swiper-slide img {
  border: 7px solid #E2F0E2;
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
}

.swiper-slide > div {
  position: absolute;
  top: 300px;
  left: 112px;
  width: 600px;
  background-color: #178415;
  opacity: 0.9;
  padding: 16px;
}

.swiper-slide .carousel-title {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--slate-4);
}

.swiper-slide .carousel-content {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.4;
  display: block;
  color: var(--slate-4);
}

.swiper-slide .carousel-button {
  background-color: var(--slate-4);
  color: #178415;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 12px; 
  margin-top: 10px; 
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}

.swiper-slide .carousel-button:hover {
  background-color: #0d5e0c;
  color: var(--slate-4);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  display: inline-block;
  color: var(--slate-4);
  background: rgba(0, 0, 0, 0.2);
  outline: 1px solid green;
}

.swiper-pagination-bullet-active {
  color: var(--slate-4);
  background: #178415;
}

.swiper-pagination {
  padding: 20px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--slate-4);
  background-color: rgb(23 132 21 / 80%);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 250px;
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 20px;
}