@import '@radix-ui/colors/slate.css';

.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 600px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
}

.swiper-slide > div {
  position: absolute;
  top: 220px;
  left: 112px;
  width: 600px;
  height: 270px;
  background-color: #178415;
  opacity: 0.9;

  padding: 16px;
  color: var(--slate-4);
}

.swiper-slide > div > h2 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 700;
}

.swiper-slide > div > p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 1.4;
  display: block;
}

.swiper-slide > div > a {
  background-color: var(--slate-4);
  color: #178415;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 12px; 
  margin-top: 10px; 
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}

.swiper-slide > div > a:hover {
  background-color: #0d5e0c;
  color: var(--slate-4);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: var(--slate-4);
  background: #178415;
}

.swiper-pagination {
  padding: 20px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--slate-4);
  background-color: rgb(23 132 21 / 80%);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 250px;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 20px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, .3);
}